body {
  background-color: #e6ecf0;
}

.container {
  margin-top: 1rem;
}

/* Homepage */

.home-hero {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url('./images/signed-out-home.jpg');
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}

/* Messages */

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.timeline-image {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin: 2px 30px 10px 10px;
}

.message-area {
  display: inline-block;
}

.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
  color: white;
}

/* Forms */

form {
  margin-bottom: 60px;
}

form button[type='submit'] {
  margin-top: 20px;
  margin-bottom: 10px;
}

form a {
  cursor: pointer;
}

form a:not([href]):not([tabindex]):hover {
  text-decoration: underline;
}

/* Loading */

.loading-wrapper {
  position: relative;
  height: 80vh;
}

.ajaxLoad {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}

#bird-loading-svg {
  position: relative;
  z-index: 10;
  height: 40px;
  -webkit-animation: bounce 0.5s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite;
  animation: bounce 0.5s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite;
}

.ajaxLoad:after {
  position: absolute;
  bottom: 2px;
  left: 20px;
  display: block;
  width: 22px;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  content: '';
  -webkit-animation: shadow 0.5s infinite;
  animation: shadow 0.5s infinite;
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.95, 1.1) translateY(-8px);
    transform: scale(0.95, 1.1) translateY(-8px);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.95, 1.1) translateY(-8px);
    transform: scale(0.95, 1.1) translateY(-8px);
  }
}

@keyframes shadow {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.7, 1);
    transform: scale(0.7, 1);
    background: rgba(0, 0, 0, 0.05);
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.7, 1);
    transform: scale(0.7, 1);
    background: rgba(0, 0, 0, 0.05);
  }
}
